@use "sass:color";

$color-bg: #1a1b21;
$color-txt: #fafafa;
$color-txt-2: color.scale($color-txt, $lightness: -21%);

$color-pr: #689F38;
$color-sec: #387002;

$color-bl: #4692ed;
$color-rd: #f15b89;
$color-or: #c97f39;
$color-yl: #e0cf41;

$color-bl-bg: color.change($color-bl, $blue: 255, $alpha: 0.06);
$color-pr-bg: color.change($color-pr, $green: 255, $alpha: 0.06);
$color-rd-bg: color.change($color-rd, $red: 255, $alpha: 0.06);
$color-or-bg: color.change($color-or, $red: 255, $alpha: 0.06);

$color-pr-bg-2: color.change($color-pr, $green: 255, $alpha: 0.12);

$color-edge: rgba(114, 118, 137, 0.4);
$color-edge-2: rgba(114, 118, 137, 0.8);

$color-bg-2: color.scale($color-bg, $lightness: 7%);
// $color-bg-3: color.scale($color-bg, $lightness: 9%);

$shadow: 0 0 4px 1px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.07);
// $shadow-2: 0 0 8px 2px rgba(0,0,0,0.15), 0 2px 6px rgba(0,0,0,0.1);